// Global standards for the application
html, body {
    height: 100%;
    min-width: 1080px;
}

body {
    margin: 0;

    background-color: $bkg-color-pri;

    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-pri;
    font-size: 80%;
}

// Remove styling from header elements
h1, h2, h3, h4, h5, h6 {
    margin: 0;

    font-size: 100%;
    font-weight: normal;
}

// Remove styling from links
a {
    text-decoration: none;
    color: inherit;

    cursor: default;
}

// Force display of icons as centered blocks
svg {
    display: block !important;

    margin: 0 auto;
}

// Event-based modifications
.link {
    box-sizing: border-box;

    padding-bottom: 1px;

    &:hover {
        padding-bottom: 0;

        border-bottom: $border-link-hover;
        cursor: pointer;
    }
}

.clickable {
    &:hover {
        cursor: pointer;
    }
}

.show {
    opacity: 1;

    transition: $standard-transition;
}

.hide {
    opacity: 0;

    transition: $standard-transition;
}

.disabled {
    color: $color-dis;

    pointer-events: none;
}

.dirty-row {
    background-color: $bkg-color-dirty;
}

.dirty-field {
    * {
        color: $color-dirty;
    }
}

.rotatable {
    transition: $standard-transition;
}

.rotate-90 {
    transform: rotate(-90deg);
}

// General UI elements
.btn {
    height: 3em;
    width: 10em;

    background: $color-btn-pri;
    border: $border-btn;
    border-radius: $border-radius-btn;

    &:hover {
        background: $color-btn-pri-hover;

        cursor: pointer;
    }

    &:focus {
        background: $color-btn-pri-active;
    }
}

q {
    align-self: center;
    justify-self: center;
    display: block;

    width: 50%;

    padding: 1rem 2rem;

    text-align: right;
    font-size: 120%;
    font-style: italic;
    quotes: "„" "“" "‚" "‘";
}
