// Colors

//// Background colors
$bkg-color-pri: #ffffff;
$bkg-color-header: #fff6f6;
$bkg-color-sub-header: darken($bkg-color-header, 2%);
$bkg-color-sub-header-hover: darken($bkg-color-sub-header, 2%);
$bkg-color-sub-sub-header: darken($bkg-color-sub-header, 5%);
$bkg-color-overlay: rgba(255, 255, 255, 0.8);
$bkg-color-dirty: #ffdddd;

//// Font colors
$color-pri: #304050;
$color-sec: lighten($color-pri, 50%);
$color-dis: #aaaaaa;
$color-dirty: #ff0000;

//// Border colors
$color-border-header: #fbebeb;
$color-border-sub-header: darken(#fbebeb, 2%);
$color-border-tab: #203010;
$color-border-btn: #203010;
$color-separator: #304050;

//// Button colors
$color-btn-pri: #ffffff;
$color-btn-pri-hover: darken(#ffffff, 10%);
$color-btn-pri-active: darken(#ffffff, 5%);

// Borders

//// Borders
$border-header: 1px solid $color-border-header;
$border-sub-header: 1px solid $color-border-sub-header;
$border-tab: 2px solid $color-border-tab;

$border-link-hover: 1px solid $color-pri;

$border-btn: 1px solid $color-border-btn;

//// Border radius
$border-radius-btn: 2px;

// Margins and Paddings

//// Margins
$standard-margin: 1rem 2rem;

//// Paddings
$standard-padding: 1rem 2rem;
$small-padding: 0.25rem 0.75rem;

// Transitions

//// Standard transitions
$standard-transition: all 0.2s ease-in-out;
